name: Lint

on:
  push:
    branches: ['main']
  pull_request:

permissions:
  contents: read

jobs:
  lint-check:
    name: Lint Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Enable corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Type Check
        run: yarn type-check
      
      - name: Check formatting
        run: yarn format:check
